* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outer {
  width: 830px;
  height: 1680px;
  border: 1.5px solid black;
  margin: 0px auto;
  background-color: #f3f3f3;
}

.outer h1 {
  text-align: center;
  border: 2px solid black;
  background-color: rgb(122, 177, 177);
  border-radius: 10px;
}

div {
  border-radius: 10px;
}

#aboutme {
  font-size: 15px;
}

a {
  text-decoration: none;
}

.head {
  margin-left: 20px;
  text-shadow: 0.5px 1px 1px;
}
img {
  width: 180px;
  clip-path: circle(50% at 50% 50%);
  float: right;
  margin-right: 25px;
  margin-top: -310px;
}

ul {
  position: relative;
  right: -55px;
}

p {
  margin-left: 40px;
}

#sign {
  float: right;
  margin-right: 25px;
  margin-top: -15px;
}

h5 {
  margin-left: 25px;
}

#ADCA {
  float: right;
  margin-top: -0.8in;
  left: -1in;
}
